<?xml version="1.0"?>
<launch>
<!-- example from https://github.com/kth-ros-pkg/ridgeback/blob/master/ridgeback_navigation/launch/odom_navigation_demo.launch 
     this navigates without a map starting with odom reference-->

  <param name="use_sim_time" value="false" />
 
  <!-- The move_base node -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

    <rosparam file="$(find robpi_nav)/config/robpi_costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find robpi_nav)/config/robpi_costmap_common_params.yaml" command="load" ns="local_costmap" />
    
    <!-- note /odom in the 2 lines below -->
    <rosparam file="$(find robpi_nav)/config/odom/robpi_local_costmap_params.yaml" command="load" />
    <rosparam file="$(find robpi_nav)/config/odom/robpi_global_costmap_params.yaml" command="load" />

    <rosparam file="$(find robpi_nav)/config/robpi_base_local_planner_params.yaml" command="load" />
    <rosparam file="$(find robpi_nav)/config/robpi_move_base.yaml" command="load" />

    <param name="base_global_planner" type="string" value="navfn/NavfnROS" />
    <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>


  </node>
  

</launch>
