<?xml version="1.0"?>
<launch>
  <param name="robot_description" textfile="$(find robpi_description)/urdf/robpi.urdf" />
  <param name="use_gui" value="False"/>
  <arg name="testpwm" default="false" /> 
  <param name="use_tf_static" value="true"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>

  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

  <!-- Show in Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robpi_description)/rviz/robpi.rviz"/>

  <group if="$(arg testpwm)">
    <node name="testpubodom" pkg="bigbot" type="testpubodom"/>
  </group>
</launch>

